# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [7]:
# Your code here:

legenderies=pokemon.loc[pokemon["Legendary"]==True]
regular=pokemon.loc[pokemon["Legendary"]==False]

In [9]:

legenderies.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000
mean,470.215385,637.384615,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615,3.769231
std,173.651095,60.937389,21.722164,30.348037,28.255131,31.104608,28.827004,22.952323,1.455262
min,144.000000,580.000000,50.000000,50.000000,20.000000,50.000000,20.000000,50.000000,1.000000
25%,381.000000,580.000000,80.000000,100.000000,90.000000,100.000000,90.000000,90.000000,3.000000
50%,483.000000,600.000000,91.000000,110.000000,100.000000,120.000000,100.000000,100.000000,4.000000
75%,642.000000,680.000000,105.000000,131.000000,115.000000,150.000000,120.000000,110.000000,5.000000
max,721.000000,780.000000,150.000000,190.000000,200.000000,194.000000,200.000000,180.000000,6.000000

In [10]:
regular.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000
mean,353.315646,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354
std,208.590419,106.760417,24.808849,30.490153,30.408194,29.091705,25.669310,27.843038,1.673471
min,1.000000,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,175.500000,324.000000,50.000000,54.500000,50.000000,45.000000,50.000000,45.000000,2.000000
50%,346.000000,425.000000,65.000000,72.000000,66.000000,65.000000,65.000000,64.000000,3.000000
75%,533.500000,498.000000,79.500000,95.000000,85.000000,85.000000,85.000000,85.000000,5.000000
max,715.000000,700.000000,255.000000,185.000000,230.000000,175.000000,230.000000,160.000000,6.000000

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [13]:
# Your code here:

from scipy import stats
import scipy.stats as stats
from scipy.stats import ttest_ind_from_stats

In [14]:
# Your code here:
ttest_ind_from_stats(mean1=470 , std1=173 , nobs1=65, mean2=353 , std2=208 , nobs2=735,equal_var=False)

Ttest_indResult(statistic=5.134203119938404, pvalue=1.898875379830715e-06)

What do you conclude from this test? Write your conclusions below.

In [15]:
# Your conclusions here:

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [16]:
# Your code here:

pokemon.columns=pokemon.columns.str.replace(" ","")

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [8]:
# Your code here:

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [18]:
# Your code here:

water = pokemon.loc[pokemon['Type1'] == "Water"]
nonwater = pokemon.loc[pokemon['Type1'] != "Water"]

In [20]:

water.describe()

,#,Total,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed,Generation
count,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000
mean,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143
std,188.440807,113.188266,27.487026,28.377192,27.773809,29.030128,28.460493,23.019353,1.558800
min,7.000000,200.000000,20.000000,10.000000,20.000000,10.000000,20.000000,15.000000,1.000000
25%,130.000000,328.750000,52.250000,53.000000,54.500000,55.000000,50.000000,50.000000,1.000000
50%,275.000000,455.000000,70.000000,72.000000,70.000000,70.000000,65.000000,65.000000,3.000000
75%,456.250000,502.250000,90.250000,92.000000,88.500000,90.500000,89.250000,82.000000,4.000000
max,693.000000,770.000000,170.000000,155.000000,180.000000,180.000000,160.000000,122.000000,6.000000

In [21]:
nonwater.describe()

,#,Total,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed,Generation
count,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000
mean,372.536337,435.859012,68.802326,79.790698,73.988372,72.495640,72.127907,68.654070,3.399709
std,209.928799,121.091682,25.194299,33.025152,31.719933,33.292537,27.739292,29.925907,1.666119
min,1.000000,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,197.750000,330.000000,50.000000,55.000000,50.000000,45.000000,50.000000,45.000000,2.000000
50%,380.000000,450.000000,65.000000,76.000000,70.000000,65.000000,70.000000,65.000000,3.000000
75%,553.250000,515.000000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.000000
max,721.000000,780.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.000000

Write your conclusion below.

In [10]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [22]:
# Your code here:
from scipy.stats import ttest_ind

ttest_ind(pokemon.Defense, pokemon.Attack, equal_var=True)

Ttest_indResult(statistic=-3.2417640740423126, pvalue=0.0012123980547321454)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [24]:
# Your code here:

pokemon.head()

,#,Name,Type1,Type2,Total,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [27]:
pokemon['Sp.Atk'].mean()
pokemon['Sp.Def'].mean()

71.9025

In [28]:
ttest_ind(pokemon['Sp.Atk'].mean(), pokemon['Sp.Def'].mean(), equal_var=True)

/Users/usuario/opt/anaconda3/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3621: RuntimeWarning: Degrees of freedom <= 0 for slice
  return _methods._var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
/Users/usuario/opt/anaconda3/lib/python3.8/site-packages/numpy/core/_methods.py:226: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Ttest_indResult(statistic=nan, pvalue=nan)

Describe the results of the test in the cell below.

In [29]:
# Your conclusions here:

from scipy.stats import ttest_1samp

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [35]:
# Your code here:
test=ttest_1samp(pokemon['Sp.Atk'], pokemon['Sp.Def'])

test

Ttest_1sampResult(statistic=0       6.759398
1      -6.206199
2     -23.493661
3     -40.781123
4      19.724994
         ...
795   -66.712317
796   -32.137392
797   -49.424855
798   -49.424855
799   -14.849930
Name: Sp.Def, Length: 800, dtype: float64, pvalue=array([2.67248248e-011, 8.71173181e-010, 3.31813959e-093, 1.88920148e-197,
       7.22915756e-071, 2.67248248e-011, 2.31592063e-024, 2.31592063e-024,
       3.73735224e-172, 6.99278513e-014, 8.71173181e-010, 1.29129692e-119,
       3.73735224e-172, 7.09498963e-225, 1.26607445e-200, 8.71173181e-010,
       7.09498963e-225, 1.26607445e-200, 8.71173181e-010, 8.71173181e-010,
       1.79450439e-149, 7.22915756e-071, 1.50050093e-002, 8.71173181e-010,
       1.79450439e-149, 1.50050093e-002, 2.66484435e-170, 4.08646049e-023,
       1.30413222e-051, 1.20075163e-007, 7.22915756e-071, 8.71173181e-010,
       1.94079670e-175, 4.54081162e-047, 5.14427678e-123, 4.54081162e-047,
       2.31592063e-024, 5.14427678e-123, 4.54081162e-047, 5.98826951e-002,
       2.67248248e-011, 3.12123047e-044, 2.67248248e-011, 3.31813959e-093,
       1.26607445e-200, 7.22915756e-071, 5.14427678e-123, 5.98826951e-002,
       2.67248248e-011, 5.98826951e-002, 3.12123047e-044, 4.54081162e-047,
       8.71173181e-010, 4.54081162e-047, 5.98826951e-002, 1.47869826e-096,
       1.50050093e-002, 5.14427678e-123, 2.67248248e-011, 7.22915756e-071,
       8.71173181e-010, 1.47869826e-096, 1.50050093e-002, 7.22915756e-071,
       8.71173181e-010, 5.14427678e-123, 7.22915756e-071, 3.12123047e-044,
       4.54081162e-047, 1.50050093e-002, 1.09281056e-067, 1.09281056e-067,
       1.79450439e-149, 1.20483966e-026, 2.31592063e-024, 1.94079670e-175,
       1.47869826e-096, 1.50050093e-002, 3.31813959e-093, 1.88920148e-197,
       1.94079670e-175, 1.47869826e-096, 2.67248248e-011, 2.67248248e-011,
       8.71173181e-010, 5.14427678e-123, 8.71173181e-010, 8.71173181e-010,
       4.54081162e-047, 1.50050093e-002, 8.40139295e-020, 1.79450439e-149,
       1.20483966e-026, 1.50050093e-002, 1.09281056e-067, 7.22915756e-071,
       3.31813959e-093, 1.26607445e-200, 1.47869826e-096, 1.79450439e-149,
       4.54081162e-047, 5.98826951e-002, 1.09281056e-067, 1.47869826e-096,
       3.12123047e-044, 3.73735224e-172, 1.26607445e-200, 7.22915756e-071,
       4.54081162e-047, 8.71173181e-010, 1.47869826e-096, 2.67248248e-011,
       7.22915756e-071, 8.71173181e-010, 4.17890530e-146, 4.17890530e-146,
       5.98826951e-002, 1.47869826e-096, 1.50050093e-002, 1.94079670e-175,
       1.47869826e-096, 1.29129692e-119, 5.14427678e-123, 8.71173181e-010,
       3.31813959e-093, 1.26607445e-200, 1.47869826e-096, 7.22915756e-071,
       8.71173181e-010, 4.54081162e-047, 2.31592063e-024, 1.88920148e-197,
       8.71173181e-010, 1.09281056e-067, 2.31592063e-024, 2.31592063e-024,
       1.50050093e-002, 3.12123047e-044, 1.50050093e-002, 7.09498963e-225,
       3.31813959e-093, 3.30580424e-245, 1.09281056e-067, 5.48366424e-081,
       2.67248248e-011, 1.09281056e-067, 1.09281056e-067, 4.17890530e-146,
       5.98826951e-002, 4.54081162e-047, 1.50050093e-002, 1.47869826e-096,
       1.50050093e-002, 5.98826951e-002, 1.09281056e-067, 4.17890530e-146,
       7.94448404e-222, 3.12123047e-044, 2.31592063e-024, 7.22915756e-071,
       1.50050093e-002, 3.31813959e-093, 3.12123047e-044, 3.31813959e-093,
       1.88920148e-197, 3.31813959e-093, 2.67248248e-011, 8.71173181e-010,
       3.31813959e-093, 7.22915756e-071, 2.67248248e-011, 2.31592063e-024,
       5.48366424e-081, 1.01491164e-016, 8.40064387e-018, 1.47869826e-096,
       4.54081162e-047, 1.16088723e-042, 1.14044929e-072, 8.71173181e-010,
       4.17890530e-146, 5.14427678e-123, 1.20483966e-026, 8.71173181e-010,
       1.16088723e-042, 6.11808897e-003, 1.79450439e-149, 4.54081162e-047,
       7.09498963e-225, 2.67248248e-011, 1.29129692e-119, 1.47869826e-096,
       1.50050093e-002, 1.47869826e-096, 1.20483966e-026, 3.12123047e-044,
       4.17890530e-146, 3.31813959e-093, 7.22915756e-071, 8.71173181e-010,
       2.67248248e-011, 3.31813959e-093, 4.54081162e-047, 2.67248248e-011,
       1.09281056e-067, 4.54081162e-047, 1.94079670e-175, 2.31592063e-024,
       1.47869826e-096, 1.26607445e-200, 2.67248248e-011, 1.09281056e-067,
       3.30580424e-245, 2.14089208e-112, 4.17890530e-146, 2.31592063e-024,
       5.48366424e-081, 2.65212870e-034, 2.67248248e-011, 1.79450439e-149,
       1.20483966e-026, 2.67248248e-011, 2.67248248e-011, 2.67248248e-011,
       1.09281056e-067, 5.14427678e-123, 1.20483966e-026, 4.54081162e-047,
       8.71173181e-010, 3.31813959e-093, 0.00000000e+000, 1.09281056e-067,
       1.29129692e-119, 5.98826951e-002, 7.22915756e-071, 5.98826951e-002,
       5.14427678e-123, 8.71173181e-010, 1.94079670e-175, 1.20483966e-026,
       2.31592063e-024, 1.79450439e-149, 5.98826951e-002, 1.47869826e-096,
       6.02141922e-289, 1.50050093e-002, 7.22915756e-071, 8.71173181e-010,
       3.12123047e-044, 1.09281056e-067, 5.14427678e-123, 1.20483966e-026,
       1.09281056e-067, 2.67248248e-011, 1.47869826e-096, 1.79450439e-149,
       4.17890530e-146, 2.67248248e-011, 4.54081162e-047, 4.54081162e-047,
       1.50050093e-002, 1.41750077e-267, 3.31813959e-093, 5.98826951e-002,
       3.73735224e-172, 7.22915756e-071, 1.50050093e-002, 3.31813959e-093,
       1.88920148e-197, 0.00000000e+000, 0.00000000e+000, 3.31813959e-093,
       4.54081162e-047, 2.67248248e-011, 2.31592063e-024, 2.31592063e-024,
       7.22915756e-071, 1.20483966e-026, 1.50050093e-002, 8.71173181e-010,
       7.22915756e-071, 1.50050093e-002, 3.12123047e-044, 4.17890530e-146,
       1.94079670e-175, 1.20483966e-026, 1.05448720e-117, 4.08646049e-023,
       1.94079670e-175, 1.26607445e-200, 7.22915756e-071, 1.26607445e-200,
       3.12123047e-044, 7.22915756e-071, 1.50050093e-002, 3.31813959e-093,
       1.94079670e-175, 5.14427678e-123, 1.20483966e-026, 1.94079670e-175,
       7.22915756e-071, 1.94079670e-175, 1.50050093e-002, 1.79450439e-149,
       4.54081162e-047, 3.73735224e-172, 1.41750077e-267, 4.79487236e-061,
       7.10829063e-015, 1.20483966e-026, 1.20483966e-026, 1.79450439e-149,
       4.54081162e-047, 2.67248248e-011, 1.94079670e-175, 7.22915756e-071,
       1.94079670e-175, 1.92541330e-210, 4.25010418e-107, 8.76397744e-001,
       1.94079670e-175, 1.20483966e-026, 5.14427678e-123, 3.12123047e-044,
       1.79450439e-149, 4.54081162e-047, 2.67248248e-011, 3.73735224e-172,
       4.54081162e-047, 1.09281056e-067, 5.14427678e-123, 7.22915756e-071,
       1.20483966e-026, 8.71173181e-010, 4.54081162e-047, 5.98826951e-002,
       2.31592063e-024, 5.14427678e-123, 1.20483966e-026, 8.71173181e-010,
       5.98826951e-002, 2.31592063e-024, 5.98826951e-002, 5.98826951e-002,
       8.71173181e-010, 2.83375483e-056, 8.40064387e-018, 7.09498963e-225,
       5.14427678e-123, 2.67248248e-011, 1.79450439e-149, 1.47869826e-096,
       1.47869826e-096, 5.98826951e-002, 1.29129692e-119, 1.50050093e-002,
       8.71173181e-010, 4.17890530e-146, 1.20483966e-026, 1.47869826e-096,
       7.22915756e-071, 8.71173181e-010, 5.14427678e-123, 1.20483966e-026,
       5.98826951e-002, 1.29129692e-119, 1.29129692e-119, 1.20483966e-026,
       1.20483966e-026, 2.31592063e-024, 2.67248248e-011, 1.05448720e-117,
       1.16077862e-001, 1.79450439e-149, 4.54081162e-047, 1.50050093e-002,
       1.88920148e-197, 9.02924289e-032, 3.08899037e-130, 7.22915756e-071,
       8.71173181e-010, 4.54081162e-047, 7.94448404e-222, 1.50050093e-002,
       1.88920148e-197, 6.14731691e-160, 1.01491164e-016, 8.40064387e-018,
       3.12123047e-044, 3.30580424e-245, 9.02924289e-032, 8.71173181e-010,
       1.20483966e-026, 1.20483966e-026, 5.48366424e-081, 7.22915756e-071,
       8.71173181e-010, 8.71173181e-010, 7.22915756e-071, 1.50050093e-002,
       3.12123047e-044, 4.54081162e-047, 5.98826951e-002, 5.98826951e-002,
       2.67248248e-011, 2.67248248e-011, 1.94079670e-175, 7.22915756e-071,
       8.71173181e-010, 3.12123047e-044, 1.20483966e-026, 8.71173181e-010,
       3.12123047e-044, 4.17890530e-146, 3.31813959e-093, 0.00000000e+000,
       0.00000000e+000, 3.30580424e-245, 0.00000000e+000, 4.17890530e-146,
       1.88920148e-197, 6.02141922e-289, 0.00000000e+000, 3.12123047e-044,
       3.12123047e-044, 3.12123047e-044, 3.31813959e-093, 3.31813959e-093,
       7.22915756e-071, 7.09498963e-225, 0.00000000e+000, 3.12123047e-044,
       4.54081162e-047, 2.67248248e-011, 2.31592063e-024, 8.13517983e-102,
       4.79487236e-061, 1.16077862e-001, 1.16088723e-042, 6.11808897e-003,
       1.90318699e-098, 1.94079670e-175, 5.14427678e-123, 1.20483966e-026,
       5.14427678e-123, 1.20483966e-026, 1.05448720e-117, 6.49455782e-066,
       1.02272940e-154, 6.77950348e-076, 1.20075163e-007, 1.50050093e-002,
       1.29129692e-119, 1.94079670e-175, 7.22915756e-071, 9.27932153e-036,
       1.62542802e-280, 1.47869826e-096, 1.29129692e-119, 2.31592063e-024,
       1.09281056e-067, 7.22915756e-071, 2.14089208e-112, 1.02586079e-103,
       3.12123047e-044, 1.94079670e-175, 7.22915756e-071, 2.83375483e-056,
       8.65311786e-006, 8.40139295e-020, 7.10829063e-015, 5.52367259e-009,
       8.13517983e-102, 1.30413222e-051, 1.16088723e-042, 1.14044929e-072,
       1.14044929e-072, 1.29129692e-119, 4.79487236e-061, 6.31045603e-139,
       2.22323510e-030, 7.22915756e-071, 1.05448720e-117, 4.08646049e-023,
       5.74675564e-028, 2.79300505e-177, 1.47869826e-096, 3.12123047e-044,
       2.67248248e-011, 2.14089208e-112, 1.54072704e-135, 1.47869826e-096,
       4.54081162e-047, 2.31592063e-024, 1.09281056e-067, 2.31592063e-024,
       5.14427678e-123, 1.50050093e-002, 1.50050093e-002, 2.14089208e-112,
       4.78664061e-001, 4.54081162e-047, 5.98826951e-002, 5.14427678e-123,
       2.67248248e-011, 4.78664061e-001, 4.08646049e-023, 5.74675564e-028,
       1.88920148e-197, 1.20483966e-026, 2.31592063e-024, 1.29129692e-119,
       2.31592063e-024, 3.12123047e-044, 1.09281056e-067, 4.54081162e-047,
       7.22915756e-071, 2.31592063e-024, 1.09281056e-067, 3.73735224e-172,
       1.16088723e-042, 2.67248248e-011, 1.09281056e-067, 5.98826951e-002,
       1.20483966e-026, 5.98826951e-002, 3.73735224e-172, 3.73735224e-172,
       0.00000000e+000, 1.41750077e-267, 1.50050093e-002, 3.21504653e-004,
       3.08899037e-130, 3.08899037e-130, 3.08899037e-130, 3.08899037e-130,
       3.08899037e-130, 3.30580424e-245, 1.29129692e-119, 1.50050093e-002,
       3.31813959e-093, 1.88920148e-197, 6.29629255e-125, 4.17890530e-146,
       1.88920148e-197, 3.31813959e-093, 3.30580424e-245, 8.71173181e-010,
       3.31813959e-093, 3.12123047e-044, 3.31813959e-093, 5.98826951e-002,
       1.88920148e-197, 3.31813959e-093, 4.54081162e-047, 5.98826951e-002,
       1.09281056e-067, 1.47869826e-096, 4.54081162e-047, 2.67248248e-011,
       1.47869826e-096, 1.20483966e-026, 1.50050093e-002, 2.51508384e-128,
       1.00295814e-003, 1.47869826e-096, 2.67248248e-011, 3.12123047e-044,
       6.31045603e-139, 7.22915756e-071, 5.48366424e-081, 1.01491164e-016,
       5.48366424e-081, 1.01491164e-016, 5.48366424e-081, 1.01491164e-016,
       4.54081162e-047, 1.09281056e-067, 1.94079670e-175, 2.14089208e-112,
       4.54081162e-047, 3.91958172e-165, 1.01491164e-016, 1.26607445e-200,
       5.14427678e-123, 8.71173181e-010, 4.25010418e-107, 4.54081162e-047,
       1.47869826e-096, 2.67248248e-011, 5.74675564e-028, 1.39012657e-226,
       1.79450439e-149, 7.22915756e-071, 2.67248248e-011, 5.14427678e-123,
       4.54081162e-047, 5.98826951e-002, 2.31592063e-024, 5.98826951e-002,
       1.20483966e-026, 8.71173181e-010, 8.71173181e-010, 2.51508384e-128,
       1.20075163e-007, 1.00295814e-003, 7.22915756e-071, 5.98826951e-002,
       7.22915756e-071, 5.98826951e-002, 4.54081162e-047, 1.79450439e-149,
       1.47869826e-096, 1.50050093e-002, 1.47869826e-096, 4.54081162e-047,
       1.29129692e-119, 6.04017616e-007, 1.79450439e-149, 5.98826951e-002,
       1.50050093e-002, 3.73735224e-172, 8.71173181e-010, 2.67248248e-011,
       1.29129692e-119, 1.47869826e-096, 2.67248248e-011, 1.47869826e-096,
       2.67248248e-011, 8.40139295e-020, 7.10829063e-015, 5.14427678e-123,
       1.20483966e-026, 5.14427678e-123, 1.20483966e-026, 2.67248248e-011,
       2.31592063e-024, 4.17890530e-146, 7.22915756e-071, 1.20483966e-026,
       2.31592063e-024, 7.22915756e-071, 1.01491164e-016, 1.20483966e-026,
       5.98826951e-002, 1.09281056e-067, 7.22915756e-071, 1.50050093e-002,
       1.20483966e-026, 1.47869826e-096, 1.29129692e-119, 4.54081162e-047,
       8.71173181e-010, 2.31592063e-024, 1.29129692e-119, 1.47869826e-096,
       7.22915756e-071, 1.20483966e-026, 5.74675564e-028, 2.79300505e-177,
       1.20483966e-026, 2.31592063e-024, 2.31592063e-024, 5.14427678e-123,
       1.50050093e-002, 8.71173181e-010, 4.54081162e-047, 1.09281056e-067,
       4.54081162e-047, 1.20483966e-026, 3.12123047e-044, 5.14427678e-123,
       7.22915756e-071, 1.50050093e-002, 5.14427678e-123, 8.71173181e-010,
       1.41750077e-267, 2.67248248e-011, 1.20483966e-026, 5.34306113e-088,
       7.22915756e-071, 1.20483966e-026, 3.12123047e-044, 7.22915756e-071,
       8.71173181e-010, 5.14427678e-123, 1.50050093e-002, 1.09281056e-067,
       7.22915756e-071, 5.98826951e-002, 2.67248248e-011, 1.09281056e-067,
       5.52367259e-009, 5.48366424e-081, 7.22915756e-071, 1.50050093e-002,
       3.12123047e-044, 4.54081162e-047, 1.29129692e-119, 4.78664061e-001,
       3.12123047e-044, 1.30118275e-240, 8.71173181e-010, 3.12123047e-044,
       8.71173181e-010, 8.71173181e-010, 1.88920148e-197, 3.31813959e-093,
       8.71173181e-010, 8.71173181e-010, 3.12123047e-044, 3.12123047e-044,
       3.31813959e-093, 3.12123047e-044, 3.12123047e-044, 5.62386321e-236,
       3.21504653e-004, 1.09281056e-067, 1.47869826e-096, 2.65212870e-034,
       5.98826951e-002, 1.20483966e-026, 1.50050093e-002, 3.31813959e-093,
       8.13517983e-102, 1.16088723e-042, 1.16077862e-001, 3.29930216e-144,
       3.21504653e-004, 1.24561923e-133, 4.79487236e-061, 1.00295814e-003,
       1.26607445e-200, 1.94079670e-175, 7.22915756e-071, 1.30413222e-051,
       5.52367259e-009, 1.20075163e-007, 7.79905250e-083, 0.00000000e+000,
       2.11282925e-038, 3.36903497e-012, 5.48366424e-081, 1.16077862e-001,
       3.12123047e-044, 1.20483966e-026, 3.36903497e-012, 3.36903497e-012,
       6.31045603e-139, 6.77950348e-076, 7.22915756e-071, 0.00000000e+000,
       2.67248248e-011, 6.44317111e-040, 2.11282925e-038, 5.98826951e-002,
       2.51052799e-091, 5.98826951e-002, 1.16088723e-042, 5.74675564e-028,
       1.20483966e-026, 3.41755890e-212, 1.01491164e-016, 6.44317111e-040,
       4.25010418e-107, 8.68440263e-063, 1.47869826e-096, 2.22323510e-030,
       1.01491164e-016, 2.81804238e-053, 3.30580424e-245, 1.01491164e-016,
       6.04017616e-007, 0.00000000e+000, 5.98826951e-002, 8.22715265e-162,
       0.00000000e+000, 9.02924289e-032, 1.20483966e-026, 7.10829063e-015,
       4.54081162e-047, 4.54081162e-047, 4.54081162e-047, 4.54081162e-047,
       5.98826951e-002, 5.98826951e-002, 5.98826951e-002, 5.98826951e-002,
       1.79450439e-149, 2.51052799e-091, 5.14427678e-123, 8.71173181e-010,
       7.79905250e-083, 7.79905250e-083, 1.09281056e-067, 0.00000000e+000,
       4.17890530e-146, 3.30580424e-245, 3.30580424e-245, 3.12123047e-044]))

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: