# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

In [139]:
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [19]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

In [22]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      800 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [21]:
pokemon['Type 2'] = pokemon['Type 2'].fillna(pokemon['Type 2'] == 'no type 2')

Let's start off by looking at the `head` function in the cell below.

In [5]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [61]:
# Your code here:

pokemon.Legendary.value_counts()[0]

735

In [37]:
pokemon.Legendary.std()

0.27338958434995064

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [39]:
# Your code here:
totalmean = pd.DataFrame(pokemon.groupby('Legendary').mean()['Total']).reset_index()
totalstd = pd.DataFrame(pokemon.groupby('Legendary').std()['Total']).reset_index()

Legendary = pd.merge(totalmean, totalstd, how = 'left', left_on = totalmean.Legendary, right_on = totalstd.Legendary)

Legendary = Legendary.rename(columns = {'key_0': 'Legendary','Total_x': 'Mean', 'Total_y': 'Standard Deviation'})
Legendary = Legendary.drop(columns = ['Legendary'], axis = 1)

In [42]:
Legendary = Legendary.rename(columns = {'Legendary_x': 'Legendary'})
Legendary = Legendary.drop(columns = ['Legendary_y'], axis = 1)
Legendary

   Legendary        Mean  Standard Deviation
0      False  417.213605          106.760417
1       True  637.384615           60.937389

In [62]:
Legendary['Mean'][0]

417.21360544217686

In [ ]:
pokemons

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [68]:
from scipy import stats
import scipy.stats as stats
from scipy.stats import ttest_ind_from_stats

In [70]:
# Your code here:

ttest_ind_from_stats(mean1 = Legendary['Mean'][0], std1 = Legendary['Standard Deviation'][0], nobs1 = pokemon.Legendary.value_counts()[0], 
                     mean2 = Legendary['Mean'][1], std2 = Legendary['Standard Deviation'][1], nobs2 = pokemon.Legendary.value_counts()[1])

Ttest_indResult(statistic=-16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [138]:
# Your conclusions here:
print('As the pvalue=3.0952457469652825e-52 is less than 0,05, one can reject the null hypothesis that there is no significant difference on the means')

As the pvalue=3.0952457469652825e-52 is less than 0,05, one can reject the null hypothesis that there is no significant difference on the means

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [79]:
# Your code here:

type1mean = pd.DataFrame(pokemon.groupby('Type 1').mean()['Total']).reset_index()
type1std = pd.DataFrame(pokemon.groupby('Type 1').std()['Total']).reset_index()

Type1 = pd.merge(type1mean, type1std, how = 'left', left_on = type1mean['Type 1'], right_on = type1std['Type 1'])
Type1 = Type1.drop(columns = ['Type 1_x', 'Type 1_y'], axis = 1)
Type1 = Type1.rename(columns = {'key_0': 'Type_1','Total_x': 'Mean', 'Total_y': 'Standard Deviation'})

688

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [142]:
# Your code here:
Type1[0:17]['Mean'].mean()
Type1[0:17]['Standard Deviation'].std()
pokemon['Type 1'].value_counts()[1:].sum()
mean_water = 430.455357
std_water = 113.188266
count_water = pokemon['Type 1'].value_counts()[0]

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [141]:
# Your code here:

ttest_ind_from_stats(mean_water, std_water, count_water,
                    Type1[0:17]['Mean'].mean(), Type1[0:17]['Standard Deviation'].std(), pokemon['Type 1'].value_counts()[1:].sum())

Ttest_indResult(statistic=-2.8567248827642686, pvalue=0.004391624881211458)

Write your conclusion below.

In [140]:
# Your conclusions here:
print('As the pvalue = 0.004391624881211458 is less than 0,05, one can reject the null hypothesis that there no significant difference on the means of the water Pokémon with the remaining')

As the pvalue = 0.004391624881211458 is less than 0,05, one can reject the null hypothesis that there no significant difference on the means of the water Pokémon with the remaining

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [150]:
# Your code here:

attack_def = pokemon.filter(['Attack', 'Defense'])
attack_def

ttest_rel(attack_def.Attack, attack_def.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [151]:
# Your conclusions here:

print('As the pvalue = 1.7140303479358558e-05 is less than 0,05, one can reject the null hypothesis that the defense and attack scores are equal')

As the pvalue = 1.7140303479358558e-05 is less than 0,05, one can reject the null hypothesis that the defense and attack scores are equal

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [152]:
# Your code here:

spattack_spdef = pokemon.filter(['Sp. Atk', 'Sp. Def'])

ttest_rel(spattack_spdef['Sp. Atk'], spattack_spdef['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [153]:
# Your conclusions here:

print('As the pvalue = 0.3933685997548122 is higher than 0,05, one cannot reject the null hypothesis that the mean of special defense and the mean of special attack are equal')

As the pvalue = 0.3933685997548122 is higher than 0,05, one cannot reject the null hypothesis that the mean of special defense and the mean of special attack are equal

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [155]:
# Your code here:
from scipy.stats import ttest_1samp

ttest_1samp(attack_def['Attack'] - attack_def['Defense'], 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [156]:
print('As the pvalue = 1.7140303479358558e-05 is less than 0,05, one can reject the null hypothesis that the defense and attack scores are equal. In other words, the difference between this two is different from zero for a 95% confidence')

As the pvalue = 1.7140303479358558e-05 is less than 0,05, one can reject the null hypothesis that the defense and attack scores are equal. In other words, the difference between this two is different from zero for a 95% confidence

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legendary or not and whether the Type 1 of a Pokemon is water or not.

In [157]:
# Your code here:

res=[]
for e in pokemon.columns:
    pvalues=[]
    for f in pokemon.columns:
        pvalues.append(chi2_contingency(pd.crosstab(pokemon[e], pokemon[f]))[1])
    res.append(pvalues)

In [158]:
p_values = pd.DataFrame(res, columns = pokemon.columns)
p_values

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0.000000e+00,0.250925,2.350660e-17,5.509488e-07,1.055099e-22,3.010580e-73,6.361779e-01,2.723031e-07,8.855460e-01,3.069270e-19,1.855349e-01,2.585259e-06,2.007432e-02
1,2.509250e-01,0.239658,4.573376e-01,4.561973e-01,3.616979e-01,4.040528e-01,3.959490e-01,3.996739e-01,3.987286e-01,4.050556e-01,3.973285e-01,4.747356e-01,4.833763e-01
2,2.350660e-17,0.457338,0.000000e+00,8.400800e-51,1.416717e-14,7.080961e-09,4.632391e-01,1.307090e-05,9.572057e-03,3.507652e-02,2.166418e-15,2.412613e-09,5.118547e-12
3,5.509488e-07,0.456197,8.400800e-51,0.000000e+00,9.562828e-16,3.990602e-10,1.738641e-03,2.293469e-17,2.306009e-07,5.632887e-09,1.093822e-05,1.249105e-18,2.601501e-02
4,1.055099e-22,0.361698,1.416717e-14,9.562828e-16,0.000000e+00,0.000000e+00,1.627925e-238,2.114521e-300,0.000000e+00,0.000000e+00,3.175683e-203,8.209600e-12,1.149036e-40
5,3.010580e-73,0.404053,7.080961e-09,3.990602e-10,0.000000e+00,0.000000e+00,0.000000e+00,8.367637e-201,0.000000e+00,2.007765e-252,6.551847e-205,9.115682e-14,2.959964e-21
6,6.361779e-01,0.395949,4.632391e-01,1.738641e-03,1.627925e-238,0.000000e+00,0.000000e+00,3.254568e-306,0.000000e+00,1.363342e-210,1.247229e-211,4.490396e-04,6.544111e-11
7,2.723031e-07,0.399674,1.307090e-05,2.293469e-17,2.114521e-300,8.367637e-201,3.254568e-306,0.000000e+00,7.210732e-189,0.000000e+00,1.299593e-181,2.193695e-09,3.567665e-09
8,8.855460e-01,0.398729,9.572057e-03,2.306009e-07,0.000000e+00,0.000000e+00,0.000000e+00,7.210732e-189,0.000000e+00,0.000000e+00,2.481221e-275,6.548407e-11,2.385355e-24
9,3.069270e-19,0.405056,3.507652e-02,5.632887e-09,0.000000e+00,2.007765e-252,1.363342e-210,0.000000e+00,0.000000e+00,0.000000e+00,1.211056e-183,5.242858e-10,2.404296e-18
10,1.855349e-01,0.397329,2.166418e-15,1.093822e-05,3.175683e-203,6.551847e-205,1.247229e-211,1.299593e-181,2.481221e-275,1.211056e-183,0.000000e+00,1.636716e-13,1.091919e-10
11,2.585259e-06,0.474736,2.412613e-09,1.249105e-18,8.209600e-12,9.115682e-14,4.490396e-04,2.193695e-09,6.548407e-11,5.242858e-10,1.636716e-13,0.000000e+00,7.880338e-02
12,2.007432e-02,0.483376,5.118547e-12,2.601501e-02,1.149036e-40,2.959964e-21,6.544111e-11,3.567665e-09,2.385355e-24,2.404296e-18,1.091919e-10,7.880338e-02,4.290007e-173

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: